body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.table {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.table th {
    min-width: 60vw;
}

.table td {
    max-width: 60vw;
    overflow: auto;
}
