body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#table-container {
    overflow: auto;
    max-width: 100%;
}

.table {
    width: auto;
    table-layout: auto;
    border-collapse: collapse;
    transform-origin: top left;
}

