body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.table {
    width: 90vw;
    margin: auto;
    table-layout: auto;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5vh;
}
